<mat-card>
  <mat-card-content>
    <div class="title-container">
      <h1 class="title">Add game</h1>
    </div>
    <form novalidate [formGroup]="form" class="game-form">
      <mat-form-field
        ><mat-label>Name</mat-label>
        <input matInput formControlName="name" required
      /></mat-form-field>
      <mat-form-field
        ><mat-label>Price</mat-label>
        <input matInput formControlName="price" required
      /></mat-form-field>
      <mat-form-field appearance="fill"
        ><mat-label>Platform</mat-label>
        <mat-select formControlName="platform" required>
          <mat-option *ngFor="let platform of platforms" [value]="platform">
            {{ platform.name }}</mat-option
          ></mat-select
        ></mat-form-field
      >
      <h2>Genre</h2>
      <mat-checkbox
        *ngFor="let genre of genres"
        [value]="genre.name"
        [checked]="isChecked(genre.name)"
        (change)="onCheckboxChange($event, genre.name)"
        name="genres"
      >
        {{ genre.name }}
      </mat-checkbox>
      <mat-form-field class="big-field"
        ><mat-label>Description</mat-label>
        <input matInput formControlName="description" required
      /></mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Release date</mat-label>
        <input
          matInput
          formControlName="releaseDate"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field
        ><mat-label>Publisher</mat-label>
        <mat-select formControlName="publisher">
          <mat-option
            *ngFor="let publisher of publishers"
            [value]="publisher"
            >{{ publisher.name }}</mat-option
          >
        </mat-select></mat-form-field
      >
      <mat-form-field class="big-field"
        ><mat-label>Picture URL</mat-label>
        <input matInput formControlName="picture" required
      /></mat-form-field>
    </form>
    <button
      mat-raised-button
      class="form-button"
      [routerLink]="['../']"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      Submit
    </button>
    <button
      mat-raised-button
      class="form-button"
      [routerLink]="['../']"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </mat-card-content>
</mat-card>
