<mat-toolbar>
  <button mat-icon-button routerLink="">
    <mat-icon>home</mat-icon>
  </button>
  <span>Video Games Shop</span>
  <span class="example-spacer"></span>
  <button mat-icon-button routerLink="game/">
    <mat-icon>videogame_asset</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="user.authStatus == 'AUTH' && user.role == 'CUSTOMER'"
    routerLinkActive="active"
    routerLink="client/shopping-cart/"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button
    mat-icon-button
    *ngIf="user.authStatus != 'AUTH'"
    routerLinkActive="active"
    routerLink="login/"
  >
    <mat-icon>perm_identity</mat-icon>
  </button>
  <button mat-icon-button routerLinkActive="active" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngIf="user.authStatus != 'AUTH'"
      routerLinkActive="active"
      routerLink="client/register/"
    >
      <span>Register</span>
    </button>
    <button
      mat-menu-item
      *ngIf="user.authStatus == 'AUTH' && user.role == 'CUSTOMER'"
      routerLinkActive="active"
      routerLink="client/orders/"
    >
      <span>View orders</span>
    </button>
    <button
      mat-menu-item
      *ngIf="user.authStatus == 'AUTH' && user.role != 'CUSTOMER'"
      routerLinkActive="active"
      routerLink="game/create/"
    >
      <span>Add game</span>
    </button>
    <button
      mat-menu-item
      *ngIf="user.authStatus == 'AUTH' && user.role != 'CUSTOMER'"
      routerLinkActive="active"
      routerLink="add-genre/"
    >
      <span>Add genre </span>
    </button>
    <button
      mat-menu-item
      *ngIf="user.authStatus == 'AUTH' && user.role != 'CUSTOMER'"
      routerLinkActive="active"
      routerLink="add-publisher/"
    >
      <span>Add publisher</span>
    </button>
    <button
      mat-menu-item
      *ngIf="user.authStatus == 'AUTH' && user.role != 'CUSTOMER'"
      routerLinkActive="active"
      routerLink="add-platform"
    >
      <span>Add platform</span>
    </button>
  </mat-menu>
  <button
    mat-icon-button
    *ngIf="user.authStatus == 'AUTH'"
    (click)="onLogoutClick()"
    routerLinkActive="active"
    routerLink=""
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
