<mat-card>
  <mat-card-content class="container">
    <form novalidate [formGroup]="form" class="publisher-form">
      <h2 class="title">Add publisher</h2>
      <table>
        <tr>
          <td>
            <mat-form-field
              ><mat-label>Name</mat-label>
              <input matInput formControlName="name" required
            /></mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field
              ><mat-label>Year of creation</mat-label>
              <input matInput formControlName="yearOfCreation" required
            /></mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field
              ><mat-label>Description</mat-label>
              <input matInput formControlName="description" required
            /></mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field
              ><mat-label>Logo picture URL</mat-label>
              <input matInput formControlName="logoPictureUrl" required
            /></mat-form-field>
          </td>
        </tr>
      </table>
      <button
        mat-raised-button
        class="form-button"
        [disabled]="form.invalid"
        (click)="onSubmit()"
      >
        Add
      </button>
      <button
        mat-raised-button
        class="form-button"
        [routerLink]="['../']"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </form>
    <app-view-publisher></app-view-publisher>
  </mat-card-content>
</mat-card>
